/* Shadownav 3.0.0-alpha ( https://github.com/tightcode/shadownav ) */
.sn-default {
  margin-bottom: 20px;
}
.sn-default .navbar {
  margin-bottom: 0;
}
.sn-static {
  margin-bottom: 19px;
}
.sn-static .navbar-static-top {
  margin-bottom: 0;
}
.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.open>div>.dropdown-menu {
  display: block;
}
@media (max-width: 767px) {
  .navbar-header {
    position: relative;
    z-index: 1;
  }
  .navbar-header, .navbar-collapse {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .dropdown {
    z-index: 0;
  }
  .dropdown-menu {
    border-radius: 0;
  }
  .dropdown-menu, .navbar-nav .open .dropdown-menu {
    box-shadow: inset 0 16px 12px -12px rgba(0, 0, 0, .175), inset 0 -16px 12px -12px rgba(0, 0, 0, .175);
  }
  .divider, .dropdown-header {
    position: relative;
    z-index: -1;
  }
  .navbar-nav .open .dropdown-menu>li>a {
    padding: 0;
  }
  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: transparent;
  }
  .dropdown-menu>li>a>div {
    padding: 5px 15px 5px 25px;
    position: relative;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  .sn-default {
    position: relative;
    z-index: 0;
  }
  .sn-static {
    position: relative;
    z-index: 1000;
  }
  .sn-static .navbar-static-top {
    z-index: auto;
  }
  .sn-fixed {
    top: 0;
    position: fixed;
    z-index: 1030;
    right: 0;
    left: 0;
  }
  .sn-fixed .navbar-fixed-top {
    right: auto;
    left: auto;
    top: auto;
    position: relative;
    z-index: auto;
  }
  .navbar {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .dropdown>div {
    position: absolute;
    clip: rect(1px, 9999px, 9999px, -9999px);
  }
  .dropdown-menu {
    z-index: -1;
  }
  .dropdown-menu>li {
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  }
}